#menu1
{
    border: solid 1px #39F;
    background: url(mb50_1_bg.gif) repeat-x;
    padding:0px;
    text-align:center;
    -webkit-border-radius: 8px;
    width: 1000px;
}
#menu2
{
    margin:0 auto;
    font-size:0;
} 
        
#menu1 ul, #menu2 li
{
    display: inline;
}
        
#menu2 a
{
    display: inline-block;
    font: normal 17px Arial;
    background: url('mb50_1.gif') no-repeat left top;
    padding: 12px 50px;
    color: white;
    text-decoration: none;
}
        
#menu2 a:hover, #menu2 a.current
{
    background-position: 0% -60px;
}
#menu2 a.end
{
    padding-left:0;padding-right:0;
}
#tekst
{
background-color: white;
width: 1000px;
margin-top: 10px;
text-align: left;
-webkit-border-radius: 8px;
padding:0px;
}
#stopka
{
position: fixed;
bottom: 0;
text-align: center;
width: 1000px;
background-color: #28BCFA;
-webkit-border-radius: 8px;
}
